body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #330066, #ff3366); 
    font-family: Arial, sans-serif;
}
.login-form {
    background-color: #ffffff; 
    padding: 20px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.login-form h2 {
    margin-bottom: 20px;
    color: #00fff2;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #00c3ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-form button:hover {
    background-color: #007acc;
}