body {
  font-family: sans-serif;
  background: #f0f0f0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  color: #333;
}

#car-info {
  margin-top: 20px;
}

img {
  width: 300px;
  border-radius: 10px;
}

.hidden {
  display: none;
}